In [1]:
import pandas as pd
import numpy as np

In [2]:
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])

In [7]:
df

             A         B
G1 1 -0.122387  0.984980
   2  0.097028  1.703700
   3  0.529047 -1.189858
G2 1 -1.233894  0.310173
   2  1.772077 -0.322908
   3 -0.971617  0.297827

In [8]:
df.loc['G1']

          A         B
1 -0.122387  0.984980
2  0.097028  1.703700
3  0.529047 -1.189858

In [10]:
df.loc['G1'].loc[1]

A   -0.122387
B    0.984980
Name: 1, dtype: float64

In [11]:
df.index.names = ['Grupo', 'Numero']
df

                     A         B
Grupo Numero
G1    1      -0.122387  0.984980
      2       0.097028  1.703700
      3       0.529047 -1.189858
G2    1      -1.233894  0.310173
      2       1.772077 -0.322908
      3      -0.971617  0.297827

In [12]:
df.xs('G1') #CrossSection pode selecionar direto o subgrupo (Numero)

               A         B
Numero
1      -0.122387  0.984980
2       0.097028  1.703700
3       0.529047 -1.189858

In [13]:
df.xs(1, level='Numero')

              A         B
Grupo
G1    -0.122387  0.984980
G2    -1.233894  0.310173