In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(101)

In [5]:
df = pd.DataFrame(np.random.randn(5,4), index ='A B C D E'.split(), columns = 'W X Y Z'.split())

In [6]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [7]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [8]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [9]:
df.W #not recommended

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [10]:
df['WZ'] = df['W'] + df['Z']
df

          W         X         Y         Z        WZ
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [13]:
df.drop('WZ', axis=1, inplace=True)

In [15]:
df.loc['A', 'W']

2.706849839399938

In [16]:
df.loc[['A', 'B'], ['X', 'Z']]

          X         Z
A  0.628133  0.503826
B -0.319318  0.605965

In [17]:
df.iloc[1:4, 2:]

          Y         Z
B -0.848077  0.605965
C  0.528813 -0.589001
D -0.933237  0.955057